################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RESAERCHMENTOR.NET_V2/Models
