@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<div class="table-struct full-width full-height">
    <div class="table-cell vertical-align-middle auth-form-wrap">
        <div class="auth-form  ml-auto mr-auto no-float">
            <div class="row">
                <h4>Reset Your Password</h4>
                <div class="form-group">
                    <div class="col-md-12">
                        <img src="~/Content/dist/img/big/circle17.jpg" alt="image" class="img-circle" style="margin-left:55px;" width="170">
                        <p>  Please check your email to reset your password.</p>  
                    </div>
                </div>

                </div>
            </div>
        </div>
    </div>
