@model IEnumerable<RESAERCHMENTOR.NET_V2.Models.UserProfile>
@using Microsoft.AspNet.Identity
@using System.Globalization
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-sm-12" style="text-align:justify;">
        <br /><br /><br />
        <h4>About Us</h4>

        <p>
            MENTORPARTNER.NET was set up to create a platform for upcoming researchers, experienced researchers and professionals to have a forum for proper mentoring, 
            providing academic advisory, editorial services, creating synergy, advertising professional academic skills. 
            <br /><br />
            MENTORPARTNER.NET was set up to create a platform for upcoming researchers, experienced researchers and professionals 
            to have a forum for proper mentoring, providing academic advisory, editorial services, creating synergy, 
            advertising professional academic skills. 
            
        </p>
        <br /><br />

        <h4>Our Contacts</h4>

        <p>
            You can reach us by phone or email <br />
            <p>Phone : +234-805-646-1158</p>
            <p>Email : admin@mentorpartner.net</p>
           
        </p>



        </div>
    </div>

