

@model RESAERCHMENTOR.NET_V2.Models.MyModelObjects
@using Microsoft.AspNet.Identity
@using System.Globalization

@{
    ViewBag.Title = "DashboardDetails";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}
<p><br /><br /><br /></p>

<!-- Added by saka -->
<div class="container">
    <div class="row">
        <div class="story-cont col-lg-12 p-b-m">
           
          
      @Model.DashBoardDetail.Description
            
            <p><br /></p>
            
        </div>

     
        <!-- /story-cont -->
        <div class="col-lg-1"></div>

        <div class="col-lg-4 bg-white static pull-right">
            <div class="p-t-xs"><img src="~/Content/dist/img/big/ad-1.png" class="img-responsive" width="250"></div>
            <div class="p-tb-xs"><img src="~/Content/dist/img/big/ad-2.png" class="img-responsive" width="250"></div>

        </div><!-- /.col-3 -->
    </div>


</div><!-- /row -->
<!-- Added by saka -->


