@model RESAERCHMENTOR.NET_V2.Models.UserProfile
@using Microsoft.AspNet.Identity
@using System.Globalization
@{
    ViewBag.Title = "ResendConfirm";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

	<!-- Row -->
<div class="table-struct full-width full-height">
    <div class="table-cell vertical-align-middle auth-form-wrap">

        <div class="auth-form  ml-auto mr-auto no-float">

            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="mb-30">
                        <h3 class="text-center txt-dark mb-10">Account Confirmation</h3>
                        <h5 class="text-center txt-dark mb-10">Request for confirmation code</h5>
                    </div>
                    <div class="form-wrap">
                        <form action="@Url.Action("ResendMail_Click", "MentorPartner")" method="post" role="form" enctype="multipart/form-data" id="FileData">
                            <input type="text" name="OwnersId" value=@Model.OwnersId id="OwnersId" class="form-control" placeholder="Enter you email">
                            <br />
                            <div align="center">
                                 <button type="submit" class="btn btn-success mr-10 mb-30">Resend Code</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Row -->
