
@{
    ViewBag.Title = "UserPayment";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default card-view pa-0">
            <div class="panel-wrapper collapse in">
                <div class="panel-body pt-0">
                    <form id="example-advanced-form" action="#">
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12 pa-30">


                                    <h3 class="ma-30"><span class="number"><i class="fa fa-money txt-black"></i></span><span class="head-font capitalize-font"> Peer Review Payment</span></h3>

                                    <div class="form-wrap">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                                                <input type="text" class="form-control required" name="Payment" id="exampleInputuname" placeholder="N4000" readonly>
                                            </div>
                                        </div>

                                        <div class="button-list mt-25">
                                            <button class="btn  btn-primary btn-rounded pull-right">Pay</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </fieldset>



                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
