@{
    ViewBag.Title = "Home Page";
}
<!-- Slide -->
<div class="wSlide">

    <div class="wslideinner">

        <div class="wslideinnercontent">
            <div class="headerdiv">
                <h1 class="header">Welcome To Mentor Partner</h1>
                <h2 class="header">Discover scientific knowledge, and make your research visible.</h2>
            </div>
            <div class="clearfix"></div><br>
            <a href="Register.aspx">
                <div class="slidebutton">
                    <span class="slidebuttonbtn">Join for free</span>
                </div>
            </a>
            <div class="clearfix"></div><br><br>
            <div class="headerdiv1">
                <a href="#">
                    <div class="icon-container">
                        <i class="ti-facebook"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="icon-container">
                        <i class="ti-instagram"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="icon-container">
                        <i class="ti-twitter-alt"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="icon-container">
                        <i class=" ti-youtube"></i>
                    </div>
                </a>
                <a href="#">
                    <div class="icon-container">
                        <i class="ti-pinterest-alt"></i>
                    </div>
                </a>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>

</div>
<div class="clearfix"></div>
<!-- Slide -->
<!-- Main Content -->




        <!-- body1 -->

        <div class="body1">
            <div class="body1inner">
                <div class="body1content">
                    <span><q class="body1contenttext">ResearchGate is changing how scientists share and advance research.</q></span>
                </div>
            </div>
        </div>
        <!-- body1 -->
        <!-- body1 -->

        <div class="body2">
            <div class="body2inner">

                <div class="body2content">
                    <strong><h1 class="read1">Advance your research</h1></strong><br><br>
                    <div class="clearfix"></div>
                    <div class="body2contentcolumn2">
                        <ul class="left">
                            <li><img src="~/Content/dist/img/big/circle1.jpg" alt="image" class="img-circle" width="170"></li>
                            <li><h4>Read and discuss publications</h4></li>
                            <li><p>Find the research you need to help your work and join open discussions with the authors and other experts.</p></li>
                        </ul>
                        <ul class="right">
                            <li><img src="~/Content/dist/img/big/circle2.jpg" alt="image" class="img-circle" width="170"></li>
                            <li><h4>Read and discuss publications</h4></li>
                            <li><p>Find the research you need to help your work and join open discussions with the authors and other experts.</p></li>
                        </ul>
                        <ul class="left">
                            <li><img src="~/Content/dist/img/big/circle3.jpg" alt="image" class="img-circle" width="170"></li>
                            <li><h4>Read and discuss publications</h4></li>
                            <li><p>Find the research you need to help your work and join open discussions with the authors and other experts.</p></li>
                        </ul>
                        <ul class="right">
                            <li><img src="~/Content/dist/img/big/circle4.jpg" alt="image" class="img-circle" width="170"></li>
                            <li><h4>Read and discuss publications</h4></li>
                            <li><p>Find the research you need to help your work and join open discussions with the authors and other experts.</p></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div><br><br>
                    <strong><h2 class="read">What type of researcher are you?</h2></strong><br><br>
                    <div class="body2contentcolumn21">
                        <ul class="left1">
                            <li><img src="~/Content/dist/img/big/circle5.jpg" alt="image" class="img-circle" width="170"></li>
                            <li><h4>Read and discuss publications</h4></li>
                            <li><p>Find the research you need to help your work and join open discussions with the authors and other experts.</p></li>
                            <li><button class="btn  btn-info">Join us</button></li>
                        </ul>
                        <ul class="right1">
                            <li><img src="~/Content/dist/img/big/circle6.jpg" alt="image" class="img-circle" width="170"></li>
                            <li><h4>Read and discuss publications</h4></li>
                            <li><p>Find the research you need to help your work and join open discussions with the authors and other experts.</p></li>
                            <li><button class="btn  btn-info">Join us</button></li>
                        </ul>
                        <ul class="left1">
                            <li><img src="~/Content/dist/img/big/circle7.jpg" alt="image" class="img-circle" width="170"></li>
                            <li><h4>Read and discuss publications</h4></li>
                            <li><p>Find the research you need to help your work and join open discussions with the authors and other experts.</p></li>
                            <li><button class="btn  btn-info">Join us</button></li>
                        </ul>
                    </div><div class="clearfix"></div>
                </div>

            </div>
        </div>

        <!-- body1 -->
        <!-- Footer -->
        <!-- /Footer -->


<!-- /Main Content -->
  